gamedata/invaderclone/__pycache__/
gamedata/invaderclone/invaderclone.egg-info/
InvaderClone
InvaderClone.exe
gamedata/env/
gamedata/build/
gamedata/invaderclone.egg-info/
gamedata/dist/
gamedata/README.md
gamedata/__pycache__/
*.swp
